{% extends 'layout/template.twig' %}

{% block description %}Creations and pens modifications. Restricted access to the administrator.{% endblock %}

{% block title %} Modifications about: {{ creation.name }} {% endblock %}

{% block content %}
    <h1> Modification about: {{ creation.name }}</h1>
    <form action="{{ url('creation!modify', {'id': creation.id }) }}" method="post" enctype="multipart/form-data">
        <ul>
            <li>
                <label for="name">Creation name</label>
                <input id="name" type="text" name="name" value="{{ creation.name }}" required>
            </li>
            <li>
                <label for="file">Creation name</label>
                <input id="file" type="file" name="file" accept=".jpg, .jpeg, .png, .svg, .gif">
            </li>
            <li>
                <label for="link">Creation link</label>
                <input id="link" type="text" name="link" value="{{ creation.link }}" required>
            </li>
            <li>
                <label for="date">Date</label>
                <input id="date" type="text" name="year" maxlength="4" value="{{ creation.year }}" required>
            </li>
            <li>
                <label for="description">Description</label>
                <textarea id="description" rows="3" cols="50" name="description" required>{{ creation.description }}</textarea>
            </li>
            <li>
                <label for="category">Category</label>
                <select id="category" name="category">
                    <option value="{{ creation.category }}" {{ selected }}>{{ creation.category }}</option>
                    <option value="Website">Website</option>
                    <option value="Codepen">Codepen</option>
                </select>
            </li>
        </ul>

        <ul>
            <li>
                <input type="reset" value="Reset">
                <input type="submit" value="Update">
            </li>
        </ul>
    </form>
    <a href="{{ url('user') }}">Back</a>
{% endblock %}
