{% extends "layout/template.twig" %}

{% block description %}Administration of the website, restricted area.{% endblock %}

{% block title %}Administration{% endblock %}

{% block content %}
    <article>
        <h3>Users</h3>
        <ul>
            <li><a href="{{ url('user!create') }}" title="Create an user"><i class="fas fa-user-plus"></i> Create</a></li>
            {% for user in user %}
                <li>{{ user.name }}</li>
                <li><img class="sm-img" src="img/user/{{ user.file }}" alt="{{ user.file }}"></li>
                <li>{{ user.email }}</li>
                <li>{{ user.status }}</li>
                <li><a href="{{ url('user!modify', {'id': user.id}) }}" title="Modify the user"><i class="fas fa-pen"></i> Modify</a></li>
                <li><a href="{{ url('user!delete', {'id': user.id}) }}" title="Delete the user"><i class="fas fa-trash-alt"></i> Delete</a></li>
            {% endfor %}
        </ul>
    </article>

    <article>
        <h3>Creations</h3>
        <ul>
            <li><a href="{{ url('creation!create') }}" title="Create an other"><i class="far fa-plus-square"></i> Create</a></li>
            {% for creation in creation %}
                <li>{{ creation.name }}</li>
                <li><img class="sm-img" src="img/creations/{{ creation.file }}" alt="Creation"></li>
                <li><a href="{{ creation.link }}">{{ creation.name }}</a></li>
                <li>Made in {{ creation.year }}</li>
                <li>{{ creation.description }}</li>
                <li><a href="{{ url('creation!modify', {'id': creation.id}) }}" title="Modify the creation"><i class="fas fa-pen"></i> Modify</a></li>
                <li><a href="{{ url('creation!delete', {'id': creation.id}) }}" title="Delete the creation"><i class="fas fa-trash-alt"></i> Delete</a></li>
                <li><hr></li>
            {% endfor %}
        </ul>
    </article>

    <article>
        <h3>Certificates</h3>
        <ul>
            <li><a href="{{ url('certificate!create') }}" title="Create an other"><i class="far fa-plus-square"></i> Create</a></li>
            {% for certificate in certificate %}
                <li>{{ certificate.name }}</li>
                <li>{{ certificate.link }}</li>
                <li>{{ certificate.certif_date }}</li>
                <li><a href="{{ url('certificate!modify', {'id': certificate.id}) }}" title="Modify the certificate"><i class="fas fa-pen"></i> Modify</a></li>
                <li><a href="{{ url('certificate!delete', {'id': certificate.id}) }}" title="Delete the certificate"><i class="fas fa-trash-alt"></i> Delete</a></li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}