{% extends "layout/template.twig" %}

{% block description %}All my creations until today are rendered here.{% endblock %}

{% block title %}My Creations{% endblock %}

{% block content %}
    <h2>My Websites</h2>
    <article>
        {% for creation in creations %}
            {% if creation.category is defined and creation.category == "Website" %}
                <figure>
                    <img src="img/Creation//{{ creation.file }}" alt="{{ creation.name }}">
                    <figcaption>
                        <a href="{{ creation.link }}" title="{{ creation.name }}" target="_blank"><i class="fas fa-arrow-right"></i> {{ creation.description }}</a>
                        <p>Made in {{ creation.year }}.</p>

                        {% if creation.link_secondary is null %}
                        {% else %}
                            <aside>
                                <a href="{{ creation.link_secondary }}" title="Link Codacy" target="_blank"><i class="fas fa-arrow-right"></i> Codacy</a>
                            </aside>
                        {% endif %}
                    </figcaption>
                </figure>
            {% endif %}
        {% endfor %}
    </article>

    <h2>Codepen's</h2>
    <article>
        {% for creation in creations %}
            {% if creation.category is defined and creation.category == "Codepen" %}
                <figure>
                    <img src="img/creations/{{ creation.file }}" alt="{{ creation.name }}">
                    <figcaption>
                        <a href="{{ creation.link }}" title="{{ creation.name }}" target="_blank"><i class="fas fa-arrow-right"></i> {{ creation.description }}</a>

                        {% if creation.link_secondary is null %}
                        {% else %}
                            <aside>
                                <a href="{{ creation.link_secondary }}" title="Link Codacy" target="_blank"><i class="fas fa-arrow-right"></i> Codacy</a>
                            </aside>
                        {% endif %}
                    </figcaption>
                </figure>
            {% endif %}
        {% endfor %}
    </article>
{% endblock %}
