{% extends "layout/template.twig" %}

{% block description %}Matthias Geslin Portfolio Home. Relative content about me, links for my social media, my creations and certifications.{% endblock %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <article>
        <h2>Ladder Unordinary Player Character</h2>
        <ul>
            {% for param in param %}
                <li>
                    <p>Name : {{ param.name }}</p>
                    <p>Class : {{ param.category }}</p>
                    <p>Level : {{ param.level }}</p>
                    <hr>
                </li>
            {% endfor %}
        </ul>
    </article>

    <article>
        {#        try to do an select option to show the one who's choose #}
        <h2>My Creations</h2>
        {% for creation in creations %}
            <ul>
                <li>{{ creation.name }}</li>
                <li><img class="sm-img" src="img/Creation/{{ creation.file }}" alt="Creation"></li>
                <li><a href="{{ creation.link }}" title="{{ creation.link }}">Link to the website! </a></li>

                <li>Made in {{ creation.year }}</li>
                <li>{{ creation.description }}</li>
            </ul>
        {% endfor %}
    </article>

    <article>
        {#        try to do an select option to show the one who's choose #}
        <h2>Certificates</h2>
        {% for certificate in certificates %}
            <ul>
                <li>{{ certificate.name }}</li>
                <li><a href="{{ certificate.link }}" title="{{ certificate.name }}" target="_blank">{{ certificate.name }} - {{ certificate.certif_date }}</a></li>
            </ul>
        {% endfor %}
    </article>
{% endblock %}