{% extends "layout/template.twig" %}

{% block description %}Matthias Geslin Portfolio Home. Relative content about me, links for my social media, my creations and certifications.{% endblock %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <h2>My Creations</h2>
    <article class="slider">
        <h3>Websites I made</h3>
        {% for creation in creations %}
            <ul class="picture fade">
                <li><img src="img/Creation//{{ creation.file }}" alt="{{ creation.name }}"></li>
            </ul>
        {% endfor %}

        <!--    Controls    -->
        <div class="controls">
            <input type="button"  id="prev" value="Previous">
            <label for="prev" id="prev-lb" class="prev">
                <i class="fa fa-chevron-left prev-mvt"></i>
            </label>

            <input type="button" id="play-btn" value="Start">
            <label for="play-btn" id="play" class="play">
                <i class="fa fa-play play-mvt"></i>
            </label>

            <input type="button" id="pause-btn" value="Pause">
            <label for="pause-btn" id="pause" class="pause hide">
                <i class="fa fa-pause pause-mvt"></i>
            </label>

            <input type="button" id="next" value="Next">
            <label for="next" id="next-lb" class="next">
                <i class="fas fa-chevron-right next-mvt"></i>
            </label>
        </div>
    </article>


    <h2>Certificates</h2>
    {% for certificate in certificates %}
        <ul>
            <li>{{ certificate.name }}</li>
            <li><a href="{{ certificate.link }}" title="{{ certificate.name }}" target="_blank">{{ certificate.name }} - {{ certificate.certif_date }}</a></li>
        </ul>
    {% endfor %}
{% endblock %}

{% block script %}
    <script src="js/Slider.js"></script>
{% endblock %}