<li><a href="{{ url('home') }}" title="Homepage"><i class="fas fa-home"></i> Homepage</a></li>
<li><a href="{{ url('creation') }}" title="My Creations"><i class="fas fa-journal-whills"></i> My Creations</a></li>
<li><a href="{{ url('certificate') }}" title="Certifications"><i class="fas fa-user-tie"></i> Certificates</a></li>

{% if session.users.status is defined and session.users.status == 'Admin' %}
    <li><a href="{{ url('user') }}" title="Administration"><i class="fas fa-sign-in-alt"></i> Administration</a></li>
{% elseif session.users.status is defined and session.users.status == 'Member' %}
    <li><a href="{{ url('User') }}" title="Administration"><i class="fas fa-sign-in-alt"></i> Personal infos</a></li>
{% elseif session.users.status is defined and session.users.status == 'Visitor' %}
    <li>User not verified</li>
{% else %}
    <li><a href="{{ url('connection') }}" title="Log in"><i class="fas fa-sign-in-alt"></i> Log in</a></li>
{% endif %}


{% if session.users.status is defined %}
    <li>{{ session.users.name }} - {{ session.users.status }} - Logged in</li>
    <li><img src="img/user/{{ session.users.file }}" alt="{{ session.users.name }}"></li>

    <li><a href="{{ url('connection!logout') }}" title="Log out"><i class="fas fa-sign-out-alt"></i> Log out</a></li>
{% else %}
{% endif %}